body {
  background-color: #0080ff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-brand {
  font-weight: bold;
  color: #ffc107 !important;
}

.carousel-item img {
  border-radius: 10px;
  height: 900px;
}

.accordion-button {
  background-color: #e2e6ea;
}

#home{
  color: #e2e6ea;
}

#profile{
  color: #e2e6ea;
}
.btn btn-secondary{
 background-color: #00BFFF;
}
.btn {
  margin-right: 10px;
}
